<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emotion Analysis</title>
</head>
<body style="background:#e5eeec;text-align:center">

  <form action="/perform_emotion" method="post">
      <label><strong>Type your text here</strong></label><br>
      <br>
      <textarea rows="10" cols="50" name="emotion_text"></textarea><br>
      <br>
      <input type="submit" value="Perform Emotional Analysis">
  </form>

  {% if response %}
    {% for i in response['emotion']: %}
        <li> {{ i }} : {{response['emotion'][i]}}</li>
    {% endfor %}
  {% endif %}

</body>
</html>